Flask==3.0.2
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
yfinance==0.2.36
pandas==2.2.1
numpy==1.26.4

# 注意：TA-Lib 需要预先安装其 C 库
# macOS: brew install ta-lib
# Linux (Ubuntu/Debian): 
#   wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
#   tar -xzf ta-lib-0.4.0-src.tar.gz
#   cd ta-lib/
#   ./configure --prefix=/usr
#   make
#   sudo make install
# Windows: 下载并安装 ta-lib-0.4.0-msvc.zip 